[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bakR"]
	path = bakR
	url = https://github.com/simonlabcode/bakr
	shallow = true
	registered = true
